core/aspathpattern/main/db
core/aspathpattern/main/__pycache__
core/aspathpattern/standalone_eval/__pycache__
core/aspathpattern/tmp/*
core/aspathpattern/.DS_Store
core/aspathpattern/main/.DS_Store
core/aspathpattern/standalone_eval/.DS_Store
core/aspathpattern/standalone_eval/*.txt
core/aspathpattern/standalone_eval/processing/*

core/inference/main/db
core/inference/main/__pycache__
core/inference/standalone_eval/__pycache__
core/inference/tmp/*
core/inference/.DS_Store
core/inference/main/.DS_Store
core/inference/standalone_eval/.DS_Store
core/inference/standalone_eval/*.txt
core/inference/standalone_eval/processing/*
core/inference/main/tmp/*
core/inference/plot/__pycache__
core/inference/plot/pdfs
core/inference/plot/*.tex

runner/*.txt
runner/main/*.txt
runner/main/db
runner/main/__pycache__
runner/main/runner/__pycache__/
runner/main/accuracy/__pycache__
runner/main/parse/__pycache__
runner/standalone_eval/__pycache__
runner/tmp/*
runner/.DS_Store
runner/main/.DS_Store
runner/standalone_eval/.DS_Store
runner/standalone_eval/*.txt
runner/standalone_eval/processing/*
runner/main/tmp/*
runner/main/*.json
runner/main/aspaths
runner/main/links
runner/main/links2
runner/main/res_asp
runner/main/res_links
runner/main/results
runner/main/tmp
runner/main/.env
runner/main/logs

core/sampling/main/db
core/sampling/main/__pycache__
core/sampling/main/test.txt
core/sampling/main/plot.py
core/sampling/main/tmp/*
core/sampling/main/sampling_cluster.py

core/topological/main/db
core/topological/main/__pycache__
core/topological/standalone_eval/__pycache__
core/topological/tmp/*

venv
dashboard/.env
dashboard/__pycache__
dashboard/*/__pycache__
dashboard/logs.log

public_api/__pycache__
nginx.conf


